.container{
    width: 40% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
textarea{
    resize: none !important;
}
.btn{
    margin: 5px;
}
.badWords{
    color: red;
}
