<div class="cards">
    <div class="card" style="width: 18rem;">
        <span class="card-img-top"></span>
        <div class="card-body">
          <a class="btn btn-primary btn-sm btn-block" [routerLink]="[ '/works/cenzor']">details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <span class="card-img-center"></span>
        <div class="card-body">
          <a class="btn btn-primary btn-sm btn-block" [routerLink]="[ '/works/userlist']">details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <span class="card-img-bottom"></span>
        <div class="card-body">
          <a class="btn btn-primary btn-sm btn-block" [routerLink]="[ '/works/tasklist']">details</a>
        </div>
      </div>
      
</div>